* {
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

/* if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to landscape */
@media (orientation: landscape) {
  body {
    -webkit-transform: rotate(0deg);
		-webkit-transform: scale(1.0,1.0);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media (orientation: portrait) {
  body {
    -webkit-transform: rotate(90deg);
		-webkit-transform: scale(1.0,1.0);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

body {
	background: rgb(57, 118, 156);
	font-family: Quicksand;
	color: #3C4C4F;
	margin: 0;
	padding: 0;
	overflow: hidden;
	zoom: 1.3;
}

#i {
	position: fixed;
	left: 1pc;
	top: 1pc;
	font-size: calc(2vw + 2vh);
	z-index: 2;
	margin: 0;
}

.scoreBoard {
	color: #FEFEFE;
}
.grassTop {
	position: absolute;
	background: url("/assets/images/uvp/grassTop.png");
}

.goal {
	position: absolute;
	background: url("/assets/images/uvp/goal.png");
}


.grass {
	position: absolute;
	background: url("/assets/images/uvp/grassBottom.png");
}

.poop {
	position: absolute;
	background: url("/assets/images/uvp/galaxypoop.png");
	background-position: 2px 6px;
}

.cupcake1 {
	position: absolute;
	background: url("/assets/images/uvp/cupcakes.png");
	background-position: 0px -7px;
}


.diamond {
	position: absolute;
	background: url("/assets/images/uvp/diamond.png");
}

.iceCream {
	position: absolute;
	background: url("/assets/images/uvp/iceCream.png");
}

.lava {
	position: absolute;
	background: url("/assets/images/uvp/lava.jpg");
}

.friend, .player {
	position: absolute;
	width: 3pc;
	height: 3pc;
	background: #B8D8D8;
	border-radius: .25pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.6pc;
	font-size: 2em;
	font-weight: bolder;
}

.player {
	background: url("/assets/images/uvp/unihero.png") no-repeat;
	background-position: 7px 9px;
}

.grave {
	position: absolute;
	background: #334143;
	width: 4pc;
	height: 3pc;
	border-bottom: none;
	border-top-left-radius: 1pc;
	border-bottom-left-radius: 1pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.5pc;
	font-size: 2em;
	transform: rotate(90deg);
	z-index: -1;
}
