<!DOCTYPE html>
<html>
<head>
	<title>Unicorn vs Poop</title>
<meta name="viewport" content="user-scalable=no, width=device-width, minimum-scale = 1.0,initial-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta charset="UTF-8" />
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link rel="stylesheet" href="/assets/css/uvp/style.css">
<script>
document.ontouchmove = function(e) {
e.preventDefault();};
</script>

<body>
<p class="rainbow scoreBoard" id="i"></p>

<div id="game">
  <audio id="jump" src="/assets/audio/jump.mp3" type="audio/mp3" preload="auto"></audio>
  <audio id="land" src="/assets/audio/land.mp3" type="audio/mp3" preload="auto"></audio>
  <audio id="die" src="/assets/audio/poop.m4a" type="audio/mp3" preload="auto"></audio>
	<audio id="yummy" src="/assets/audio/yummy.m4a" type="audio/mp3" preload="auto"></audio>
	<audio id="bling" src="/assets/audio/bling.m4a" type="audio/mp3" preload="auto"></audio>
  <audio id="win" src="/assets/audio/congratulations.m4a" type="audio/mp3" preload="auto"></audio>
  <audio id="bigwin" src="/assets/audio/bigwin.mp3" type="audio/mp3" preload="auto"></audio>
	<audio id="music2" src="/assets/audio/musicNiki.mp3" type="audio/mp3" preload="auto"></audio>
	<audio id="letsHop" src="/assets/audio/letsHop.m4a" type="audio/mp3" preload="auto"></audio>
</div>
<script src='/assets/js/vendor/polyfill.min.js'></script>
<script src='/assets/js/vendor/jquery/jquery-3.2.1.min.js'></script>
<script src='/assets/js/vendor/sprintf.min.js'></script>
<script  src="/assets/js/uvp/main.js"></script>
</body>

</html>
